# apps/service-b/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-b
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-b
  template:
    metadata:
      labels:
        app: service-b
    spec:
      containers:
        - name: app
          image: busybox
          command:
            - sh
            - -c
            - |
              echo "Service B starting...";
              sleep 3;
              echo "Service B ready";
              sleep 3600
          readinessProbe:
            exec:
              command: ["sh", "-c", "echo ready"]
            initialDelaySeconds: 2
            periodSeconds: 5
